<h1>
 振り返り一覧 (<%= @day %>)
</h1>

<div class="main">
<%= form_with(url: :d, local: true, method: :get) do |form| %>
    <%= form.select :date, @date_items, { :selected => @day} %>
    <%= form.submit value: "絞り込み" %>
<% end %>

<% if @teams %>
<% @teams.each do |team| %>
    <div id="<%= team %>">
    <h3><%= link_to Team.find(team).name, action: "team", team_id: team %></h3>
    <table>
    <tr>
        <th>メンバー名</th>
        <th class="oywt">本日の目標</th>
        <th class="oywt">Y:やったこと</th>
        <th class="oywt">W:わかったこと</th>
        <th class="oywt">T:つぎやること</th>
    </tr>    
    <% @retrospectives.each do |retro| %>
        <% next if retro.member.team_id < team %>
        <% break if retro.member.team_id > team %>
    <tr>
        <td><%= link_to retro.member.name, "/m/#{retro.member_id}" %></td>
        <td class="oywt"><%= retro.objective%></td>
        <td class="oywt"><%= retro.y %></td>
        <td class="oywt"><%= retro.w %></td>
        <td class="oywt"><%= retro.t %></td>
    </tr>
    <% end %>
    </table>
    </div>
<% end %>
<% else %>
表示できる振り返り記録はありません。
<% end %>
</div>