<h1>
 振り返り一覧 ( <%= @team.name %> )
</h1>

<div class="main">
<%= form_with(url: :t, local: true, method: :get) do |form| %>
    <%= form.select :team_id, @team_items, { :selected => @team.id} %>
    <%= form.submit value: "選択" %>
<% end %>

<% if @dates %>
<% @dates.each do |date| %>
<h3> <%= link_to date, "/d/#{date}" %></h3>
<table>
    <tr>
        <th>メンバー名</th>
        <th class="oywt">本日の目標</th>
        <th class="oywt">Y:やったこと</th>
        <th class="oywt">W:わかったこと</th>
        <th class="oywt">T:つぎやること</th>
    </tr>    
    <% @retrospectives.each do |retro| %>
    <% next if retro.date < date %>
    <% break if retro.date > date %>
    <tr>
        <td><%= link_to retro.member.name, "/m/#{retro.member_id}" %></td>
        <td class="oywt"><%= retro.objective%></td>
        <td class="oywt"><%= retro.y %></td>
        <td class="oywt"><%= retro.w %></td>
        <td class="oywt"><%= retro.t %></td>
    </tr>
    <% end %>
</table>
<% end %>
<% else %>
表示できる振り返り記録はありません。
<% end %>
</div>