<h1>
 振り返り一覧 ( <%= @team.name %> )
</h1>

<div class="main">

<% @dates.each do |date| %>
<h3> <%= date %></h3>
<table>
    <tr>
        <th>メンバー名</th>
        <th class="oywt">本日の目標</th>
        <th class="oywt">Y:やったこと</th>
        <th class="oywt">W:わかったこと</th>
        <th class="oywt">T:つぎやること</th>
    </tr>    
    <% @retrospectives.each do |retro| %>
    <% next if retro.date < date %>
    <% break if retro.date > date %>
    <tr>
        <td><%= retro.member.name %></td>
        <td class="oywt"><%= retro.objective%></td>
        <td class="oywt"><%= retro.y %></td>
        <td class="oywt"><%= retro.w %></td>
        <td class="oywt"><%= retro.t %></td>
    </tr>
    <% end %>
</table>
<% end %>
</div>